@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Contenedor-Header{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.2) 30%, transparent);
    transition: all linear .3s;
    position: fixed;
    top: 0;
    z-index: 99;
}



.Contenedor-Header .Logo{
    width: 100%;
    height: auto;
    background: transparent;
    color: #fff;
    padding: 25px;
    text-align: center;
    
}
.Contenedor-Header .Logo h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.Contenedor-Header .Logo h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.Contenedor-Header .Menu{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}


.Contenedor-Header .Menu a{
    z-index: 99;
    color: #fff;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    border-radius: 0px 3px 0px 3px;
}
.Contenedor-Header .Menu a:hover{
    -border-radius: 3px;
    background: #fff;
    color: black;
}

.Contenedor-Header .Menu a:hover::before{
    animation: btns1 .3s forwards;
    position: absolute;
    content: "";
    width: 50%;
    height: 30px;
    transform: translateY(0px);
    background: #fff;
    z-index: 1;
    left: 0;
    border-radius: 3px 3px 0px 0px;
}
.Contenedor-Header .Menu a:hover::after{
    animation: btns2 .3s forwards;
    position: absolute;
    content: "";
    width: 50%;
    height: 30px;
    transform: translateY(0);
    background: #fff;
    z-index: 1;
    right: 0;
    border-radius: 0px 0px 3px 3px;
}


.Contenedor-Header .Login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contenedor-Header .Login button{
    background: #fff;
    border: 2px solid rgb(53, 74, 94);
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(53, 74, 94);
    cursor: pointer;
    transition: all linear 0.3s;
}

.Contenedor-Header .Login button:hover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
   
}

.Caja_Salir{
    display: none;
    cursor: pointer;
}


@keyframes btns1{
    100%{
        transform: translateY(-30px);
    }
}

@keyframes btns2{
    100%{
        transform: translateY(27px);
    }
}

@media screen and (max-width: 1150px){
    .Contenedor-Header{
        position: fixed;
        z-index: 99;
        width: 320px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-between;
        padding: 25px;
    }

    .Menu{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .close{
        transform: translateX(-320px);
    }

    .Caja_Salir{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        font-size: 25px;
        width: 40px;
        height: 40px;
        border-radius: 100vmax;
        border: 2px solid #d4d0d0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
