.Contenedor-Reservations{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  
}

.Back-Image-Reservation{
    position: absolute;
    top: 0;
    width: 100%;
 
}

.Contenedor_Reservation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
    
}
.Contenedor-Titulo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Titulo_Reservation{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.Titulo_Reservation h1{
    width: auto;
    color: #fff;
    font-size: 50px;
    
}
.Titulo_Reservation h3{
    color: red;
    font-size: 30px;
    background: #fff;
}
.Titulo_Reservation h5{
    color: #fff;
    font-size: 50px;
}
.Titulo_Reservation h2{
    color: red;
    font-size: 30px;
    
}
.Titulo_Reservation h2 span{
    color: #fff;
    font-size: 30px;
    
}




/* Contenedor del formulario */
.reservation-container {
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Título */
.reservation-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de los elementos del formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botón de envío */
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #a57171;
}

.Fav-Form{
    position: absolute;
    bottom: 0;
    width: 40%;
    right: 0;
    -background: red;
    height: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.VehichlosFavorito{
  
    height: 100px;
    border: dashed 2px #fff;
    width: 70%;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: gray;
}